doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
  body
    block content
    script(src='jam/require.js')
    script
      require(['js/app'], function (app) {
        app();
      });